*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Poppins';

}
html{
    scroll-behavior: smooth;
}
body{
    height: 200vh;
}

/* MENU */
.menu{
    height: 100vh;
    top: 0;
    display: flex;
}
.menu .left{
    width: 50%;
    height: 100%;
    color: white;
    background-color: rgb(95, 32, 197);
}

.menu .left div{
    margin: 20% 20% 10% 10%;
}
.menu .right{
    width: 50%;
    height: 100%;
    position: relative;
}
.menu .right .img-right{
    position: absolute;
    left: -15%;
    top: 20%;
    height: 450px;
    width:115%;
    border-radius: 35% 10px 10px 10px;
    background-image: url('../img/img-home.jpg');
    background-size: cover;
    background-position: center;
}
.menu .right .navleft{
    width: 90%;
    margin: 0 5%;
    height: 70px;
    padding: 30px;
    display: flex;
    justify-content: space-between;
}
.menu .right .navleft a{
    text-decoration: none;
    color: black;
    transition: 0.5s;
    
}
.menu .right .navleft a:hover{
    color: rgb(241, 129, 0);
}


/* Populer */
.populer{
    width: 100%;
    padding: 50px;
}
.populer .head-populer{
    width: 100%;
    display: flex;
    justify-content: center;
}
.populer .head-populer h2{
    border-bottom: 2px solid #ddd;
}
.populer .list-box-populer{
    margin-top: 10vh;
    width: 100%;
    text-align: center;
}
.populer .list-box-populer .box-populer{
    width: 100%;
    margin: 30px 10px;
    padding: 10px;
    background: #fff;
    border: 1px solid #eee;
    border-radius: 5px;
    box-shadow: 4px 2px 20px #eee;

}
.populer .list-box-populer .box-populer img{
    width: 90%;
    position: relative;
    border-radius: 10% 5px 5px 5px;
    left: 5%;
    top: -20px;
}
.populer .list-box-populer .box-populer div{
    display: flex;
    font-size: 10px;
    justify-content: space-between;
}
.populer .list-box-populer .box-populer a{
    width: 100%;
    text-align: end;
    text-decoration: none;
    margin-top: 10px;
    padding: 5px;
    border-radius: 10px;
    background-color: rgb(234, 223, 255);
    box-shadow: 4px 4px 10px rgb(154, 112, 233);
}

/* Filter */
/* .filter{
    width: 100%;
    padding: 50px;
}
.filter .head-filter{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.filter .head-filter button{
    background-color:rgb(136, 136, 231);
    width: 100px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.filter .select-filter{
    position: absolute;
    opacity: 0;
    z-index: -9;
    width: 20%;
    max-height: 0px;
    background-color: #fff;
    color: white;
    padding: 2%;
    right: 50px;
    margin-top: 20px;
    border-radius: 5px;
    transition: .5s;
    color: black;
    box-shadow: 4px 4px 20px #ddd;
}
.filter .select-filter-in{
    opacity: 1 !important;
    z-index: 9 !important;
    max-height: 200px !important;
}
.filter .select-filter button{
    background-color: rgb(118, 118, 255);
    width: 100px;
    margin-top: 30px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    color: white;
}
.filter .list-box-filter{
    margin-top: 10vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.filter .list-box-filter .box-filter{
    width: 20%;
    margin: 30px 10px;
    padding: 10px;
    background: #fff;
    border: 1px solid #eee;
    border-radius: 5px;
    box-shadow: 4px 2px 20px #eee;
}
.filter .list-box-filter .box-filter img{
    width: 90%;
    position: relative;
    border-radius: 10% 5px 5px 5px;
    left: 5%;
    top: -20px;
}
.filter .list-box-filter .box-filter div{
    display: flex;
    font-size: 10px;
    justify-content: space-between;
    
}
.filter .list-box-filter .box-filter a{
    width: 100%;
    text-align: end;
    text-decoration: none;
    margin-top: 10px;
} */

/* TAGS */
.tags{
    width: 100%;
}
.tags .head-tags{
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}
.tags .list-tags{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 50px 10%;
    flex-wrap: wrap;
}
.tags .list-tags .box-tags{
    width:20%;
    padding: 3%;
    text-align: center;
    border: 1px solid #ddd;
    box-shadow: 10px 10px 20px #ddd;
    border-radius: 10px;
    margin: 20px;
}
.tags .list-tags .box-tags a{
    text-decoration: none;
}

/* TESTIMONI */
.testimoni{
    width: 100%;
    overflow-x: hidden;
}
.testimoni .head-testimoni{
    width: 100%;
    margin-top: 10vh;
    display: flex;
    justify-content: center;
    text-align: center;
}
.testimoni .list-testimoni{
    width: 100%;
    padding: 100px 50px;
    display:flex;
    flex-wrap: wrap;
}
.testimoni .list-testimoni .box-testimoni{
    width: 20%;
    position: relative;
    padding: 5% 2%;
    font-size: 10px;
    background-color: #fff;
    box-shadow: 5px 5px 20px #ddd;
    border-radius: 5% 5% 5% 20%;
    margin: 5% 2%;
}
.testimoni .list-testimoni .box-testimoni img{
    width: 80px;
    height: 80px;
    position: absolute;
    top: -50px;
    left: 20px;
    border-radius: 50%;
    box-shadow: 5px 5px 10px #ddd;
}
.testimoni .list-testimoni .box-testimoni .head{
    width: 100%;
    padding: 2%;
}
.testimoni .list-testimoni .box-testimoni .head section{
    display: flex;
    justify-content: space-between;
}

footer{
    position: relative;
    width: 100%;
    background: #eee;
    padding-top: 20vh;
    padding: 10% 10% 2% 10%;

}
footer .head-footer{
    width: 60%;
    position: absolute;
    background: rgb(61, 40, 110);
    border-radius: 0 30px 0 30px;
    top: -20%;
    left: 20%;
    padding: 2%;
    display: flex;
    justify-content: space-between;
    color: white;
}
footer .head-footer .left{
    width: 50%;
    padding: 5%;
}
footer .head-footer .right{
    width: 50%;
}
footer .head-footer .right button{
    background: rgb(231, 165, 43);
    padding: 10px;
    color: white;
    border: none;
    box-shadow: 2px 2px 10px rgb(231, 165, 43) ;
    border-radius: 5%;
    cursor: pointer;
}
footer .bottom-footer{
    width:80%;
    margin: 10vh auto 0 auto;
    display: flex;
    justify-content: space-between;
    padding-bottom: 40px;
    border-bottom: 1px solid #bbb;
}
footer .bottom-footer .logo{
    margin-right: 50px;
}
footer .bottom-footer section h4{
    margin-bottom: 20px;
}
footer .bottom-footer section a{
    display: block;
    text-decoration: none;
}
footer .copyright{
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
}
